.clearfix() {
  content: "";
  display: table;
  clear: both;
}

.font-main() {
  font-family: @font-family-ptsans;
  font-size: @font-size-normal;
  font-weight: normal;
  text-transform: uppercase;
}

.font-title() {
  font-family: @font-family-ptsans;
  font-size: @font-size-big;
  font-weight: bold;
  text-transform: uppercase;
}

.font-title-big() {
  font-family: @font-family-ptsans;
  font-size: @font-size-large;
  font-weight: bold;
  text-transform: uppercase;
}
