.button {
  &:hover {
    background-color: @color-blue;
  }

  &:active {
    background-color: @color-dark-blue;
    color: #88b6d1;
  }

  &:disabled {
    background-color: @color-dark-grey;
  }

  &--search-form {
    margin-bottom: 21px;
    padding: 16px;
    .font-title-big();
    line-height: @lh-26;
    color: @color-white;
    background-color: @color-light-blue;
  }

  &--send-form {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 38px;
    padding: 16px;
    border: none;
    .font-title-big();
    line-height: @lh-26;
    color: @color-white;
    background-color: @color-light-blue;
  }

  &--popup-close {
    width: 100%;
    margin: 0 auto;
    border: none;
    .font-title();
    color: @color-white;
    background-color: @color-light-blue;
  }

  &--popup-error {
    width: 180px;
  }

  display: block;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;

  @media @tablet-width {
    &--send-form {
      float: left;
      width: 324px;
    }

    &--popup-form {
      width: 459px;
      font-size: @fs-21;
    }

    &--popup-error {
      width: 272px;
    }
  }

  @media @desktop-width {
    &--send-form {
      float: left;
      width: 480px;
    }
  }
}
