.button {
  display: block;
  padding: 20px;
  text-decoration: none;

  &--blue {
    background-color: @color-light-blue;
  }

  &--send-form {
    width: 100%;
    box-sizing: border-box;
    border: none;
    .font-title-big();
    line-height: 1.23;
    color: @color-white;
    background-color: @color-light-blue;
  }
}