.checkbox-field {
  &:hover .checkbox-field__checkbox{
    background-color: #e5e5e5;
  }

  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:  transparent;
}

.checkbox-field__checkbox {
  &:active {
    background-color: #d5d5d5;
  }

  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
  margin-right: 19px;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  background-color: @color-lighter-grey;
  cursor: pointer;
}

.checkbox-field__input {
  display: none;
}

.checkbox-field__input-text {
  display: inline-block;
  max-width: 180px;
  vertical-align: middle;
  .font-title();
  line-height: @lh-26;
  color: @color-black;
  text-transform: none;
  cursor: pointer;
  word-wrap: normal;
  overflow-wrap: normal;
}

.checkbox-field__input:checked ~ .checkbox-field__checkbox{
  &:active::before,
  &:active::after{
    background-color: #a4a4a4;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 5px;
    background-color: @color-black;
  }

  &::before {
    top: 53%;
    left: 26%;
    width: 13px;
    transform: rotate(45deg);
  }

  &::after {
    top: 49%;
    left: 37%;
    width: 22px;
    transform: rotate(-47deg);
  }
}
