.developer {
  img {
    vertical-align: middle;
  }

  box-sizing: border-box;
  display: block;
  height: 48px;
  line-height: 48px;
  text-decoration: none;

  @media @tablet-width {
    float: right;
    width: 33%;
    margin: 0;
  }
}

.developer__text {
  margin-right: 10px;
  .font-main();
  line-height: 1.85;
  color: @color-black;
}
