.evaluation-fieldset {
  padding-top: 22px;
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @tablet-width {
    order: 0;
    width: 50%;
    padding-top: 0;
    border: none;
  }
}

.evaluation-fieldset__title {
  margin-bottom: 26px;
  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @tablet-width {
    margin-bottom: 60px;
    text-align: left;
    font-size: @font-size-large;
  }

  @media @desktop-width {
    text-align: center;
  }
}

.evaluation-fieldset__wrap {
  margin-bottom: 25px;

  @media @tablet-width {
    text-align: left;
  }
}
