.evaluation-fieldset {
  border-top: 1px solid @color-dark-grey;

  @media @mobile-width-only {
    padding: 18px 0 15px;
  }

  @media @tablet-width {
    order: 0;
    width: 50%;
    padding-top: 0;
    border: none;
  }
}

.evaluation-fieldset__title {
  max-width: 280px;
  text-align: center;
  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @mobile-width-only {
    margin: 0 auto 23px;
  }

  @media @tablet-width {
    margin: 0 0 63px;
    text-align: left;
    font-size: @font-size-large;
    line-height: 0.8;
  }

  @media @desktop-width {
    margin-left: 76px;
    text-align: center;
  }
}

.evaluation-fieldset__wrap {
  &:active {
    border: none;
    outline: none;
    background: none;
  }

  width: 280px;

  @media @mobile-width-only {
    margin: 0 auto 12px;
  }

  @media @tablet-width {
    margin: 0 auto 21px 0;
    text-align: left;
  }
}
