.intro {

  &::before {
    content: '';
    display: block;
    height: 160px;
    background:
            url('../img/bg-intro-triangle-mobile.svg') no-repeat bottom,
            url('../img/text-sedona.svg') no-repeat center,
            @color-light-blue url('../img/bg-back-mobile@1x.jpg') no-repeat center;
    background-size: cover, 230px, auto;
  }

  &--index-page::before {
    height: 389px;
    background:
            url('../img/bg-intro-triangle-mobile.svg') no-repeat bottom,
            url('../img/text-sedona-index.svg') no-repeat center,
            @color-light-blue url('../img/bg-back-mobile@1x.jpg') no-repeat top;
    background-size: cover, 290px, auto;
  }

  @media @tablet-width {

    &::before {
      height: 292px;
      background-size: cover, 460px, cover;
    }

    &--index-page::before {
      height: 520px;
      background-size: cover, 500px, cover;
    }

    &--index-page .intro__title {
      font-size: @font-size-large;
    }

  }
}

.intro__content {
  width: 270px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  text-align: center;

  @media @tablet-width {
    width: 500px;
  }
}

.intro__title {
  max-width: 265px;
  margin: 0 auto 30px auto;
  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @tablet-width {

    font-size: @font-size-extra-large;
  }
}

.intro__text {
  display: block;
  margin: 0 auto;
  .font-main();
  line-height: 1.85;
  color: @color-black;

  @media @tablet-width {
    max-width: 440px;
  }
}
