.intro {

  &::before {
    content: '';
    display: block;
    height: 159px;
    //background:
    //        url('../img/bg-intro-triangle-mobile.svg') no-repeat bottom,
    //        url('../img/text-sedona.svg') no-repeat center,
    //        @color-light-blue url('../img/bg-back-mobile@1x.jpg') no-repeat center;
    //background-size: cover, 90%, auto;
  }

  &--index-page::before {
    height: 389px;
    background:
            url('../img/bg-intro-triangle-mobile.svg') no-repeat bottom,
            url('../img/text-sedona-index.svg') no-repeat center,
            @color-light-blue url('../img/bg-back-mobile@1x.jpg') no-repeat top;
    background-size: cover, 290px, auto;
  }

  background-color: @color-white;

  @media @tablet-width {
    &--index-page::before {
      height: 520px;
      //background:
      //        url('../img/bg-intro-triangle-mobile.svg') no-repeat bottom,
      //        url('../img/text-sedona-index.svg') no-repeat center,
      //        @color-light-blue url('../img/bg-back-mobile@1x.jpg') no-repeat top;
      background-size: cover, 500px, cover;
    }
  }
}

.intro__content {
  width: 265px;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  text-align: center;

  @media @tablet-width {
    width: 500px;
  }
}

.intro__title {
  margin-bottom: 30px;
  .font-title();
  line-height: 1.44;
  color: @color-black;
}

.intro__text {
  .font-main();
  line-height: 1.85;
  color: @color-black;
}