.main-menu {
  width: 100%;
  background-color: red;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  a {
    .font-title();
    line-height: 2.22;
    color: @color-white;
  }

  width: 100%;
  min-height: 55px;
  text-align: center;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: @color-light-blue;
}