.name-fieldset {
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @mobile-width-only {
    padding-top: 17px;
    padding-bottom: 6px;
  }

  @media @tablet-width {
    order: 1;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 82px;
    padding-top: 0;
    padding-left: 55px;
    border: none;
    border-left: 1px solid @color-dark-grey;
  }

  @media @desktop-width {
    margin-bottom: 80px;
    padding-left: 79px;
  }
}

.name-fieldset__title {
  max-width: 250px;
  .font-title();
  line-height: @lh-26;
  color: @color-black;

  @media @mobile-width-only {
    margin: 0 auto 21px;
  }

  @media @tablet-width {
    margin: 0 auto 62px 1px;
    text-align: left;
    font-size: @fs-21;
    line-height: @lh-26;
    word-break: normal;
  }
}

.name-fieldset__item {
  display: flex;
  width: 280px;
  margin: 0 auto 20px;
  cursor: pointer;

  @media @tablet-width {
    &:last-child {
      margin-bottom: 0;
    }

    width: 100%;
  }
}

.name-fieldset__field-name {
  max-width: 100px;
  margin-right: 13px;
  line-height: @lh-58;
  overflow: hidden;

  @media @mobile-width-only {
    margin-right: 16px;
  }

  @media @tablet-width {
    margin-right: 15px;
  }
}

.name-fieldset__input-wrap {
  input {
    width:100%;
  }

  flex-grow: 1;
  width: 69%;

  @media @tablet-width {
    width: 67%;
  }
}
