.name-fieldset {
  border-top: 2px solid @color-light-grey;
  text-align: center;
}

.name-fieldset__title {
  .font-title();
  line-height: 1.44;
  color: @color-black;
}

.name-fieldset__field-name {
  display: inline-block;
  vertical-align: middle;
}

.name-fieldset__wrap-input {
  display: inline-block;
  vertical-align: middle;
}