.page-header {
  box-sizing: border-box;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: @color-white;
  z-index: 99;

  @media @mobile-width-only {
    width: 100%;
    background-color: transparent;

    &--fixed {
      position: fixed;
    }
  }
}

.page-header__wrap {
  position: relative;
  height: 56px;
  background-color: @color-white;

  &--transparent {
    height: 0;
    background-color: transparent;
  }

  @media @tablet-width {
    position: static;
    height: 0;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 102px;
  margin: 0 auto;
  z-index: 3;

  @media @desktop-width {
    width: 186px;

    img {
      width: 186px;
      height: 96px;
    }
  }
}
