.page-header {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  background-color: @color-white;
}

.page-header__wrap {
  position: relative;
  width: 100%;
  min-height: 56px;
  background-color: @color-white;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 102px;
  margin: 0 auto;
  z-index: 3;

  @media @desktop-width {
    &::after {
      position: absolute;
      top: -95px;
      left: -31px;
      content: '';
      background: #81b3d2;
      width: 160px;
      height: 160px;
      border-radius: 15px;
      transform: rotate(-48deg) skewX(-6deg);
      z-index: -1;
    }
  }
}
