.page-header {
  //position: absolute;
  //top: 0;
  //width: 100%;
  box-sizing: border-box;
}

.page-header__wrap {
  position: relative;
  width: 100%;
  min-height: 56px;
  background-color: @color-white;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 102px;
  margin: 0 auto;
}