.page-footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: @color-dirty-white;
}

.page-footer__wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 8%;
  text-align: center;

  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    padding: 36px 8%;
  }

  @media @desktop-width {
    padding: 36px 10%;
  }
}

.page-footer__logo {
  box-sizing: border-box;
  display: block;
  margin-bottom: 40px;
  line-height: 48px;
  .font-title-big();
  color: @color-black;
  text-decoration: none;

  @media @tablet-width {
    max-width: 220px;
    margin: 0;
  }
}
