.photo-blog {}

.photo-blog__post {
  box-sizing: border-box;
  padding: 20px;
  border-top: 2px solid @color-light-grey;
  text-align: center;
}

.photo-blog__picture {
}

.photo-blog__content {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

.photo-blog__title {
  .font-main();
  font-weight: bold;
  line-height: 1.71;
  color: @color-black;
}

.photo-blog__author {
  display: block;
  .font-main();
  text-transform: none;
  line-height: 1.71;
  color: @color-black;
}

.photo-blog__like-icon {
  display: inline-block;
}

.photo-blog__likes {
  display: inline-block;
  margin-left: 10px;
  .font-main();
  font-weight: bold;
  line-height: 1.71;
  color: @color-black;
}
