.places-fieldset {
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @mobile-width-only {
    padding-top: 19px;
  }

  @media @tablet-width {
    order: 3;
    width: 100%;
    margin: 0 auto 49px;
    border: none;
    border-top: 1px solid @color-dark-grey;
  }

  @media @desktop-width {
    margin: 0 auto 47px;
  }
}

.places-fieldset__title {
  max-width: 270px;
  .font-title();
  line-height: @lh-26;
  color: @color-black;

  @media @mobile-width-only {
    margin: 0 auto 16px;
  }

  @media @tablet-width {
    position: relative;
    top: -26px;
    min-width: 400px;
    max-width: 400px;
    width: 400px;
    margin: 0 auto 40px;
    background-color: @color-white;
    font-size: @fs-21;
  }

  @media @desktop-width {
    max-width: 450px;
  }
}

.places-fieldset__wrap {
  width: 280px;
  margin: 0 auto;
  text-align: left;

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding-left: 92px;
  }

  @media @desktop-width {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
}

.places-fieldset__item {
  display: block;

  @media @mobile-width-only {
    margin-bottom: 24px;
  }

  @media @tablet-width {
    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 3;
    }

    width: 47%;
    margin-bottom: 32px;
  }

  @media @desktop-width {
    width: auto;
  }
}
