.places-fieldset {
  padding-top: 21px;
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @tablet-width {
    order: 3;
    width: 100%;
    margin: 0 auto 35px auto;
    padding-top: 0;
    border: none;
    border-top: 1px solid @color-dark-grey;
  }
}

.places-fieldset__title {

  &--tablet {
    display: none;
  }

  margin-bottom: 30px;
  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @tablet-width {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      min-width: 350px;
    }

    margin-bottom: 40px;
    font-size: @font-size-large;
  }
}

.places-fieldset__wrap {
  width: 280px;
  margin: 0 auto;
  text-align: left;

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding-left: 100px;
  }

  @media @desktop-width {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
}

.places-fieldset__item {
  display: block;
  margin-bottom: 20px;

  @media @tablet-width {

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 3;
    }

    width: 50%;
    margin-bottom: 30px;
  }

  @media @desktop-width {
    width: auto;
  }
}
