.radio-field {
  display: block;
  cursor: pointer;

  label {
    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d5d5d5;
    }

    display: inline-block;
    position: relative;
    width: 57px;
    height: 57px;
    margin-right: 30px;
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    background-color: @color-lighter-grey;
    cursor: pointer;
  }
}

.radio-field__input {
  display: none;
}

.radio-field__input-text {
  .font-title();
  line-height: 1.44;
  color: @color-black;
  text-transform: none;
}


#radio-1:checked ~ label[for="radio-1"],
#radio-2:checked ~ label[for="radio-2"],
#radio-3:checked ~ label[for="radio-3"] {

  &:active::before {
    background-color: #a4a4a4;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 22px;
    height: 22px;
    margin: auto;
    border-radius: 50%;
    background-color: @color-black;
  }
}
