.review-fieldset {
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @mobile-width-only {
    margin-bottom: 51px;
    padding-top: 20px;
  }

  @media @tablet-width {
    order: 4;
    width: 100%;
    margin-bottom: 58px;
    border: none;
    border-top: 1px solid @color-dark-grey;
  }
}

.review-fieldset__title {
  .font-title();
  max-width: 270px;
  margin: 0 auto;
  line-height: @lh-26;
  color: @color-black;
  white-space: normal;

  @media @mobile-width-only {
    margin-bottom: 17px;
  }

  @media @tablet-width {
    position: relative;
    top: -15px;
    min-width: 400px;
    max-width: 400px;
    width: 400px;
    margin: 0 auto 30px;
    background-color: @color-white;
    font-size: @fs-21;
    z-index: 1;
  }

  @media @desktop-width {
    max-width: 450px;
  }
}

.review-fieldset__input-wrap {
  width: 280px;
  height: 160px;
  margin: 0 auto;

  @media @tablet-width {
    width: auto;
  }
}

.review-fieldset__input {
  height: 100%;
  white-space: pre-wrap;
}

.review-fieldset__input-wrap .review-fieldset__input{
  &:-ms-input-placeholder {
    font-size: 18px;
  }
}
