.review-fieldset {
  margin-bottom: 50px;
  padding-top: 23px;
  border-top: 1px solid @color-dark-grey;
  text-align: center;

  @media @tablet-width {
    order: 4;
    width: 100%;
    margin-bottom: 58px;
    border: none;
    border-top: 1px solid @color-dark-grey;
  }
}

.review-fieldset__title {

  &--mobile {
    margin-bottom: 22px;
  }

  &--tablet {
    display: none;
  }

  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @tablet-width {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      min-width: 350px;
      margin: 0 auto 30px auto;
    }

    font-size: @font-size-large;
  }
}

.review-fieldset__wrap-input {
  width: 280px;
  margin: 0 auto;

  @media @tablet-width {
    width: auto;
  }
}

.review-fieldset__input {

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @color-white;
    outline: 4px solid #e5e5e5;
  }

  &::placeholder {
    color: @color-black;
  }

  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  .font-title();
  line-height: 1.44;
  color: @color-black;
  text-transform: none;
  background-color: @color-lighter-grey;
}
