.search-form {
  background-color: @color-white;
}

.search-form__wrap {
  br {
    display: none;
  }

  p {
    margin-bottom: 34px;
  }

  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  .font-main();
  line-height: 1.71;
  color: @color-black;

  @media @tablet-width {

    br {
      display: inline;
    }

    p {
      margin-bottom: 43px;
    }

    width: 500px;
    padding: 50px 20px 38px;
  }

  @media @desktop-width {

    p {
      margin-bottom: 49px;
    }

    padding: 50px 20px 45px;
  }
}

.search-form__title {
  margin-bottom: 22px;
  .font-title-big();
  line-height: 1.23;
  color: @color-black;

  @media @tablet-width {
    margin-bottom: 27px;
    font-size: @font-size-extra-large;
  }
}
