.search-form {
  background-color: @color-white;
}

.search-form__wrap {
  br {
    display: none;
  }

  p {
    margin-bottom: 34px;
  }

  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  .font-main();
  line-height: @lh-24;
  color: @color-black;

  @media @mobile-width-only {
    p {
      margin-bottom: 35px;
    }

    padding: 28px 20px;
  }

  @media @tablet-width {
    br {
      display: inline;
    }

    p {
      margin-bottom: 42px;
    }

    width: 500px;
    padding: 56px 20px 38px;
  }

  @media @desktop-width {
    p {
      margin-bottom: 48px;
    }

    padding: 56px 20px 45px;
  }
}

.search-form__title {
  margin-bottom: 19px;
  .font-title-big();
  line-height: @lh-26;
  color: @color-black;

  @media @tablet-width {
    margin-bottom: 30px;
    font-size: @fs-30;
  }
}
