.social-links {
  box-sizing: border-box;
  margin-bottom: 35px;

  @media @tablet-width {
    margin: 0;
  }
}

.social-links__list {
  li {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
  }

  padding: 0;
  list-style: none;
  font-size: 0;
}

.social-links__item {
  &--twitter {
    background: url('../img/icon-twitter.svg') no-repeat center;
    background-color: @color-light-blue;
  }

  &--facebook {
    background: url('../img/icon-facebook.svg') no-repeat center;
    background-color: @color-light-blue;
  }

  &--youtube {
    background: url('../img/icon-youtube.svg') no-repeat center;
    background-color: @color-light-blue;
  }

  display: block;
  width: 46px;
  height: 48px;
}
