.text-field {
  .font-main();
  line-height: 1.85;
  color: @color-black;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:  transparent;
}

.text-field__input {

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @color-white;
    outline: 4px solid #e5e5e5;
    border: none;
  }

  &::placeholder {
    .font-title();
    line-height: 1.44;
    color: @color-black;
    text-transform: none;
  }

  &:invalid {
    box-shadow: none;
  }

  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
  border: none;
  background-color: @color-lighter-grey;
  .font-title();
  line-height: 1.44;
  color: @color-black;
  text-transform: none;

  @media @mobile-width-only {
    padding: 15px 20px 17px;
  }
}
