.text-field {
  .font-main();
  line-height: 1.85;
  color: @color-black;
  white-space: nowrap;
}

.text-field__input {

  &::placeholder {
    .font-title();
    line-height: 1.44;
    color: @color-black;
    text-transform: none;
  }

  box-sizing: border-box;
  padding: 20px;
  border: none;
  background-color: @color-lighter-grey;
  .font-title();
  line-height: 1.44;
  color: @color-black;
  text-transform: none;
}
