.text-field {
  .font-main();
  line-height: @lh-26;
  color: @color-black;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:  transparent;
}

.text-field__input {
  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @color-white;
    outline: 4px solid #e5e5e5;
    border: none;
  }

  &::placeholder {
    .font-title();
    line-height: @lh-26;
    color: @color-black;
    text-transform: none;
  }

  &:-ms-input-placeholder {
    font-size: 20px;
  }

  &:invalid {
    box-shadow: none;
  }

  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
  border: none;
  background-color: @color-lighter-grey;
  .font-title();
  line-height: @lh-26;
  color: @color-black;
  text-transform: none;
}
