.video-blog{
  padding-bottom: 35px;
  background-color: @color-white;

  @media @tablet-width {
    width: 648px;
    margin: 0 auto;
  }

  @media @desktop-width {
    width: 800px;
    padding-bottom: 85px;
  }
}

.video-blog__post {
  padding-top: 35px;
  border-top: 1px solid @color-light-grey;

  @media @tablet-width {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 60px;
    border: none;
  }
}

.video-blog__content {
  width: 280px;
  margin: 0 auto 40px auto;
  text-align: center;

  @media @tablet-width {
    width: 420px;
    margin-bottom: 75px;
  }
}

.video-blog__content {

  p {
    width: 250px;
    margin: 0 auto;
    .font-main();
    line-height: 1.71;
    color: @color-black;
  }

  @media @tablet-width {

    p {
      width: auto;
    }
  }
}

.video-blog__title {
  margin-bottom: 35px;
  .font-title();
  line-height: 1.44;
  color: @color-black;

  @media @tablet-width {
    font-size: @font-size-extra-large;
  }
}

.video-blog__video-wrap {
  width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    position: relative;
    width: auto;
  }
}

.video-blog__video {
  display: block;
  width: 100%;
  height: auto;
}
